.nav-bar {
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
}

img {
  width: 100px;
  height: 100px;
}

#header {
  display: flex;
}

@media screen and (max-width: 768px) {
  #video {
    background-color: lightblue;
  }
}
