/* .nav-bar {
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
}

#header {
  display: flex;
}



@media screen and (max-width: 768px) {
  #video {
    background-color: lightblue;
  }
} */

.line-break {
  margin-top: 0px auto 0px auto;
  width: 100%;
  max-width: 1000px;
}

#header {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: flex;
}

body {
  background-color: #eeeeee;
  font-family: "Lato";
}

.company-logo {
  margin: 0px 0px 0px 20px;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer > ul > li {
  padding: 0 10px;
}

#header {
  position: fixed;
}

.listings {
  max-width: 1000px;
  margin-top: 0px auto 0px auto;
  width: 100%;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

* {
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  #video {
    background-color: lightblue;
  }
}
